header {

    .topRow {

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .logo {
            background: url(./../../assets/logo.png);
            background-size: cover;
            background-position: center center;
            width: 62px;
            height: 62px;
            margin: 33px;
            cursor: pointer;
        }

        .searchInput {
            width: 281.14px;
            height: 40px;
            margin-top: 44px;
            padding: 0 0 0 50px;
            border: 1px solid #ccc;
            border-radius: 50px;
            font-size: 16px;
            background-color: #fff;
            outline: none;
            -webkit-box-shadow: 0px 0px 26px -1px rgba(129, 129, 129, 0.69);
            -moz-box-shadow: 0px 0px 26px -1px rgba(129, 129, 129, 0.69);
            box-shadow: 0px 0px 26px -1px rgba(129, 129, 129, 0.69);

            &:focus {
                border-color: #ccc;
            }
        }

        .dummyDiv {
            width: 400px;
        }

        .premium {
            width: 281.14px;
            height: 40px;
            margin-top: 44px;
            color: rgb(99, 99, 99);
            border: 1px solid #ccc;
            border-radius: 50px;
            font-size: 16px;
            background-color: #fff;
            text-align: center;
            outline: none;
            -webkit-box-shadow: 0px 0px 26px -1px rgba(129, 129, 129, 0.69);
            -moz-box-shadow: 0px 0px 26px -1px rgba(129, 129, 129, 0.69);
            box-shadow: 0px 0px 26px -1px rgba(129, 129, 129, 0.69);
            cursor: pointer;

            &:focus {
                border-color: #000000;
            }
        }

        .nav {
            width: 250px;
            height: 59px;
            margin-top: 44px;
            display: flex;
            margin-right: 20px;
            list-style: none;
            border: 1px solid #ccc;
            border-radius: 50px;
            background-color: #ffffff3d;
            justify-content: space-evenly;
            align-items: center;
            outline: none;
            font-size: 35px;
            color: #fff;
            -webkit-box-shadow: 0px 0px 26px -1px rgba(129, 129, 129, 0.69);
            -moz-box-shadow: 0px 0px 26px -1px rgba(129, 129, 129, 0.69);
            box-shadow: 0px 0px 26px -1px rgba(129, 129, 129, 0.69);

            li {
                display: inline;
                cursor: pointer;
                font-weight: 600;
                font-size: 20px;
                transition: opacity 200ms ease-out;

                &:hover {
                    opacity: 0.5;
                }
            }

            .navOptions{
                width: 40px;
                height: 40px;
                cursor: pointer;
            }

            .navMessages{
                width: 40px;
                height: 40px;
                cursor: pointer;
            }

            .profile {

                background-image: url(./../../assets/Profile.png);
                width: 40px;
                height: 40px;
                cursor: pointer;
            }

            .navMenu{
                width: 40px;
                height: 40px;
                cursor: pointer;
            }
        }

    }

    .pinky {
        width: 500px;
        height: 500px;
        position: absolute;
        top: 0px;
        right: 0px;
        background-size: cover;
        background-position: center center;
        background-blend-mode: multiply;
        background: linear-gradient(rgb(255, 0, 234),
                rgba(255, 255, 255, 0),

            );
        z-index: -1;
    }
}